@media only screen and (min-width: 992px) and (max-width: 5000px) {
.team-sec .col-md-3.col-sm-6.col-xs-12:nth-child(4n+1) {
	clear: both;
}
	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
.search-forum {
  left: -200px;
}
.main-menu ul li a {
	padding: 40px 10px;
}
.slider-text {
padding: 40px 30px;
width: 991px;
}
.slider-text h1{
font-size: 48px;	
}
.gallery-overlay-text h2{
	font-size:14px;
}
.appointment {
	right: 0;
}
.main-menu {
	margin-right: 40px;
}
.counting-inner {
	padding-right: 40px;
}
.appoitment-button a {
	padding: 12px 14px;
}
.gallery-button a i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.error-page-content{padding:0}
.header-v2-intro {
	padding-right: 36px;
}

}



@media only screen and (min-width: 768px) and (max-width: 991px) {
body {
font-size: 15px;
line-height: 24px;
}	
h1 {
font-size: 22px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}	
.pt-100{padding-top:80px;}
.pb-100{padding-top:80px;}
.pb-70{padding-top:40px;}
.logo {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 0;
}
.header-v2-top .soical-profile {
	width: 100%;
	text-align: center;
}
.appoitment-button {
	padding: 22px 0;
}
.sngl-price {
	margin-bottom: 30px;
}
.search-bar-icon {
	padding: 30px 0px;
}
.team-member::after {
	height: 38%;
}
.header-left li {
	padding-right: 20px;
	position: relative;
	display: inline-block;
}
.slider-caption {
	width: 100%;
}
.count-up-man-img {
display:none;
}
.footer-sec .col-md-3.col-sm-6:nth-child(2n+1) {
	clear: both;
}
.main-menu ul li a {
  padding:34px 7px
}
.company-ceo-thumb img {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
}
.footer-wedget-two {
	margin-top: 40px;
}
.main-menu {
	text-align: center;
}
.appointment {
	right: 0;
}
.pricing-sec .tab-content img {
	margin-bottom: 30px;
}
.search-forum {
	left: -240px;
	top: 90px;
}
.slider-text{
	width:100%;
}
.slider-text h1 {
  font-size: 36px;
}
.project-gallery .inner{width:50%}
.counting_sl {
	margin: 40px 0;
}
.main-menu ul ul {
	top: 92px;
}
.hd-search-field form {
	width: 140px;
}
.sidebar {
	margin-top: 40px;
	margin-bottom:100px
}
.header-right {
	margin-right: 0px;
}
.newsletter::before {
	right: -100%;
}
.sec-title {
	text-align: center;
	margin: 0 0px 50px 0px;
}
.service-item .col-md-4.col-sm-6:nth-child(2n+1) {
	clear: both;
}
.company-bar-chart {
	margin-bottom: 40px;
}
.footer-widget-menu {
	margin-bottom: 30px;
}
.call-to-action-text h2 {
	font-size: 24px;
}
.post-meta li {
	width: 100%;
	padding-right: 0;
	margin-right: 0;
}
.company-bar-chart img,
.company-desc img,
.pricing-sec .tab-content img {
	width: 100%;
}
.service-details-img img {
	width: 100%;
}
.service-details {
	margin-top: 30px;
}
.brochures {
	margin-top: 30px;
}
.gallery-button a i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.team-sec .col-md-3.col-sm-6.col-xs-12:nth-child(2n+1) {
	clear: both;
}
.vedio-inner {
	margin-top: 40px;
}
.slider-wrapper {
	width: 100%;
	padding: 0px 30px;
}
.hd-sec.sticky_menu {
	position: relative;
}
.all-slide .owl-controls {
	width: 100%;
	padding: 0px 30px;
}
.service-sec-title {
	margin-bottom: 40px;
}
.consult-form::before {
left: -200px;
}
.faq-style1-sec {
	margin-top: 40px;
}
}


@media only screen and (min-width: 0px) and (max-width: 767px) {
body {
font-size: 14px;
line-height: 24px;
}	
h1 {
font-size: 22px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}
.header-top {
overflow:visible;
}
.consult-form {
	padding: 50px 0px 50px 0px;
}
.header-right-div::before {
display:none;
}
.faq-style1-sec {
	margin-top: 40px;
}
.sec-title h1 {
	font-size: 24px;
}
.consult-form::before {
left: -200px;
}
.service-sec-title {
	margin-bottom: 40px;
}
.all-slide .owl-controls {
	width: 100%;
	padding: 0px 30px;
}
.why-choose-thumb img {
	width: 100%;
}
.footer-social {
	text-align: center;
	margin-top: 10px;
}
.footer-call-to-action {
	top: -135px;
}
.sngl-price {
	margin-bottom: 50px;
}
.slider-wrapper,
.slider-caption{
	width:100%;
}
.slider-text {
width:100%;
}
.all-slide .owl-controls .owl-prev {
	left: 0;
}
.all-slide .owl-controls .owl-next {
	right: 0;
}
.hd-sec.sticky_menu {
	position: relative;
}
.footer-sec {
	margin-top: 90px;
}	
.pt-100{padding-top:80px;}
.pb-100{padding-bottom:80px;}
.pb-70{padding-bottom:40px;}
.appoitment-button {
	display: none;
}
.vedio-inner {
	margin-top: 40px;
}
.slider-text p{width:100%}
.company-ceo-thumb img {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
}
.header-right-div {
	text-align: center;
}
.header-left {
	text-align: center;
}
.why-choose-title h1 {
	font-size: 24px;
}
.about-desc h1,
.company-desc h1{
	font-size: 32px
}

.slider-text {
  padding: 0 30px;
}
.hd-sec {
	padding-top: 24px;
	position: relative;
}
.logo {
	text-align: left;
	padding: 0;
	position: relative;
	z-index: 2;
	top:10px;
}

.counting_sl {
	margin: 40px 0;
}
.site-search {
display:none;
}
.service-thumb img {
	width: 100%;
}
.count-up-man-img {
	display: none;
}
.sec-hd-v1-title {
	text-align: left;
	float: none;
}
.site-search:hover .search-forum {visibility:visible;transition: all 0.4s ease 0s;top:0px;opacity:1}
.mean-nav li a i {
  display: none;
}
.slider-text h1 {
 font-size: 34px;
}
.team-member::after {
	height: 38%;
}
.search-forum {
  left: 50%;
  transform: translateX(-50%);
}
.slider-text li a {
  margin-bottom: 20px;
}	

.breadcrumb-list {
  text-align: center;
}
.breadcrumb-right{text-align:center}
.breadcrumb-right span {
  float: none;
}
.pagehding-sec {
  padding: 80px 0;
}
.page-heading h1 {
  font-size: 28px;
  text-align:center;
}
.simplefilter {
  margin-top: 40px;
}
.shorttitle{background: #0cb1f6 none repeat scroll 0 0;
display: block;
margin-bottom: 40px;
padding: 20px;}
#navbarfiltr.navbar-collapse {
  border: 0;
  box-shadow: none;
}
.navbarsort .navbar-toggle {
background: #292929 none repeat scroll 0 0;
margin-top: 15px;
}
.navbarsort .navbar-toggle .icon-bar {
  background: #fff;
}
.shorttitle h2 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 10px;
}
#navbar li {
  display: inline-block;
  width: 100%;
}
#navbar ul li a {
  padding: 6px 9px;
}

.simplefilter li {
display: inline-block;
width: 100%;
margin-bottom: 10px;
}
.navbarsort{display:block}

.contact-field.contact-form,
.map-sec{float:none;width:100%}

.counting_sl {
	margin: 40px 0;
}
.appointment {
	position: relative;
	left: 0;
}
.header-right {
	margin-right:0px;
}
.company-bar-chart {
	margin-bottom: 40px;
}
.appointment a::before {
display:none;
}
.about-img img {
	width: 100%;
	margin-bottom: 40px;
}
.company-bar-chart img,
.company-desc img,
.pricing-sec .tab-content img {
	width: 100%;
}
.sec-title {
	text-align: center;
	margin: 0 0px 50px 0px;
}
.project-gallery .inner {
	width: 50%;
}
.footer-sec .col-md-3.col-sm-6 {
	margin: 40px 0;
}
.call-to-action-text {
	text-align: center;
}
.call-to-action-text a.btn {
	float: none;
	margin-top: 20px;
}
.service-details-img img {
	width: 100%;
}
.service-details {
	margin-top: 30px;
}
.brochures {
	margin-top: 30px;
}
.menu-icon {
	display: none;
}
.single-testimonial {
	width: 100%;
}
.footer-bottom-sec p {
	text-align: center;
}
.counting_sl h2 {
	font-size: 32px;
}
.header-v2-intro::before{
	display:none;
}
.follow-title {
	display: none;
}
.home-v1 .soical-profile {
	background: #071c2e;
	padding-top: 0;
}
h1.faq-style1-title {
	font-size: 28px;
}
}

@media only screen and (min-width: 515px) and (max-width: 767px) {
.team-member::after {
	height: 42%;
}

}


@media only screen and (min-width: 0px) and (max-width: 492px) {
.header-left {
	text-align: center;
}
.header-left li{margin:10px 0;}
.slider-text h1 {
	font-size: 28px;
	line-height: 40px;
}
.slider-text ul{margin-top:40px;}
.project-gallery-overlay-text .gallery-button a i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.mean-container a.meanmenu-reveal {
	margin-top: -74px;
}
}

@media only screen and (min-width: 0px) and (max-width: 420px) {
.header-left li {
	width: 100%;
	padding: 0;
	text-align: center;
}
.mean-container a.meanmenu-reveal {
	margin-top: -72px;
}

}

@media only screen and (min-width: 0px) and (max-width: 550px) {

.project-gallery .inner{width:100%}
}

@media only screen and (min-width: 0px) and (max-width: 500px) {


}

@media only screen and (min-width: 0px) and (max-width: 390px) {
.sec-title h1 {
  font-size:28px;
}
.mean-container a.meanmenu-reveal {
	margin-top: -70px;
}

}
@media only screen and (min-width: 0px) and (max-width: 359px) {

.commentar-sec img {
  margin-bottom:20px;
}
}

@media only screen and (max-width: 492px) and (min-width: 0px){
.slider-text h1 {
    font-size: 23px;
    line-height: 27px;
}
}

@media only screen and (max-width: 767px) and (min-width: 0px){
.slider-text {
    padding: 0 30px;
    margin-top: 13%;
}
}

@media only screen and (max-width: 767px) and (min-width: 0px){
.slider-text ul {
     margin-top: none;
}
}
@media only screen and (max-width: 767px) and (min-width: 0px){
.slider-text li a {
    background: #f6c405;
    color: #fff;
    display: inline-block;
    padding: 8px 18px;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    transition: 0.5s;
    font-weight: 600;
    position: related;
    transition: all 0.4s ease 0s;
    margin-right: 19px;
}
}
@media only screen and (max-width: 767px) and (min-width: 0px){
.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #fff;
    border-top: 1px solid #0f263a;
    text-decoration: none;
    text-transform: uppercase;
    background: #0f263a;
}
}
@media only screen and (max-width: 767px) and (min-width: 0px){
.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: relative;
    background: #292929;
    z-index: 999999;
    top: 20px;
}
}
@media only screen and (max-width: 767px) and (min-width: 0px){
.mean-container .mean-nav ul li a.mean-expand {
    margin-top: 1px;
    width: 26px;
    height: 27px;
    padding: 12px!important;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-weight: 700;
    border: 0!important;
    border-left: 1px solid rgba(23,45,64,.95)!important;
    border-bottom: 1px solid rgba(23,45,64,.95)!important;
}
}
.mean-container .mean-nav ul li li li a {
    width: 65%;
    padding: 1em 15%;
}
