{% extends "www/index.html" %}

{% block sliderbody %}
	
	<!-- Page Heading Section Start -->	
	<div class="pagehding-sec">
		<div class="images-overlay"></div>		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-heading">
						<h1>error Page</h1>
					</div>
					<div class="breadcrumb-list">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="">error Page</a></li>
						</ul>
					</div>					
				</div>				
			</div>
		</div>
	</div>
	<!-- Page Heading Section End -->	
	
	<!-- 404 Section Start -->	
	<div class="error-page-sec pt-100 pb-100">
		<div class="container">	
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="error-page-content">
						<h1>404</h1>
						<h2>sorry, there is some error here place try later</h2>
						<ul>
							<li>Check Your Internet Connection</li>
							<li>Refresh The Page</li>
							<li>Back To www.rigpl.com</li>
						</ul>
						<a href="index.html">Go To Home</a>
					</div>										
				</div>
				<div class="col-md-3"></div>				
			</div>
		</div>		
	</div>	
	<!-- 404 Section End -->
			
{% endblock %}

	{%block blog%}
	{% endblock %}

	{% block contactform %}
	{% endblock %}

	{% block team %}
	{% endblock %}

	{% block products %}
	{% endblock %}

	{% block about %}
	{% endblock %}