<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="header-left">
							<ul>
								<li><i class="fa fa-envelope-o"></i>{{email}}</li>
								<li><i class="fa fa-map-marker"></i>{{country}}</li>
							</ul>	
						</div>
					</div>				
					<div class="col-md-4 col-sm-4">
						<div class="header-right-div">
							<span class="follow-title">Follow Us</span>
							<div class="soical-profile">
								<ul>
									<li><a href="https://www.facebook.com/RohitCuttingTools/"><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-google"></i></a></li>
									<li><a href=""><i class="fa fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>